.red-title {
  color: var(--Red, #f82727);
  position: absolute;
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--Background, #fff);
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
}

.red {
  border-radius: 8px;
  background: var(--Background, #fff);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--Red, #f82727);
  margin-top: 12px;
  overflow: hidden;
}

.red .img {
  height: 216px;
  object-fit: cover;
}

@media (min-width: 992px) {
  .red {
    margin-top: 20px;
  }
  .red .img {
    height: auto;
  }
}
